<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <servlet>
        <servlet-name>GuessingGame</servlet-name>
        <servlet-class>org.wings.session.WingServlet</servlet-class>
        <init-param>
            <param-name>wings.mainclass</param-name>
            <param-value>groovy.guessinggame.GuessingGame</param-value>
        </init-param>
        <init-param>
            <param-name>wings.lookandfeel.factory</param-name>
            <param-value>org.wings.plaf.LookAndFeelFactory$Default</param-value>
        </init-param>
        <init-param>
            <param-name>wings.lookandfeel.default</param-name>
            <param-value>org.wings.plaf.css.CSSLookAndFeel</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>GuessingGame</servlet-name>
        <url-pattern>/GuessingGame/*</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>

</web-app>
