<?xml version="1.0" encoding="utf-8"?>
<jnlp
    spec="1.5+"
    codebase="http://localhost:8080/webstart"
    href="$outputFile">
  <information>
    <title>GraphicsBuilder Demo</title>
    <vendor>Groovy<vendor/>
    <homepage href="http://groovy.codehaus.org"/>
    <description>GraphicsBuilder Demo</description>
    <description kind="short">GraphicsBuilder lets you work with Java2D the Groovy way</description>
    <offline-allowed/>
  </information>
  <security>
     <all-permissions/>
  </security>
  <resources>
     <j2se java-vm-args="-Xss1M -Xmx256M" version="1.5+"/>
     $dependencies
  </resources>
  <application-desc main-class="$mainClass">
    <argument>http://localhost:8080/webstart</argument>
  </application-desc>
</jnlp>
